.heading{
    text-align: center;
    color: cornflowerblue;
}
.details{
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.main{
    background-color: lightpink;
}
